/***** GRID *****/

.full-width {

  width: 1200px;
  margin: 0 auto;

}

.half-width {

  width: 600px;
  float: left;

}

/****HEADER****/

header{
  text-align:center;
  height:200px;
  background-color:d3c9c6;
  
}
nav{
  float:right;
   padding: 75px 40px;
}
nav ul li{

    display: inline;
}
nav ul li a {

    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    text-align:center;
    color: #3b443e;
    padding-left: 80px;

}

